<?php
/**
 * A {{ template_name }} partial template.
 *
 * @package Wonderpress Theme
 * @license GPL-2.0-or-later
 */

defined( 'ABSPATH' ) || exit;

?>
<!-- Partial: {{ template_name }} -->
<div class="{{ template_class_name }}">

</div>
<!-- End: {{ template_name }} -->