<?php
/**
 * Template Name: {{ template_name }} Template
 * Description: A custom page template.
 *
 * @package Wonderpress Theme
 */

{{# uses }}
use Wonderpress\Partials\{{ name }};

{{/ uses }}
// Set the <body> id
wonder_body_id( '{{ template_slug }}' );

get_header();
?>

	<main role="main">

		<?php
		if ( have_posts() ) :
			while ( have_posts() ) :
				the_post();
{{{ body_php }}}
			endwhile;
		endif;
		?>

	</main>

<?php get_footer(); ?>
