<?php
/**
 * Template Name: {{ template_name }} Template
 * Description: A custom page template.
 *
 * @package Wonderpress Theme
 */

// Set the <body> id
wonder_body_id( '{{ template_slug }}' );

get_header();
?>

<?php
if ( have_posts() ) :
  while ( have_posts() ) :
    the_post();
    ?>
<main role="main">

</main>
    <?php
  endwhile;
endif;
?>

<?php get_footer(); ?>
